@{
    Layout = "~/_SiteLayout.cshtml";
}

<p>
    This sample application uses a pre-created Azure Search service loaded with data from the USGS and is meant
    to demonstrate some of the basic capabilities of Azure Search that enable you to add a great search experience to your
    web and mobile applications. For the lifetime of your TryAppService session (1 hour), you can run search queries
    against a predefined search index of almost 3 million landmarks and geological features around the United States
    such as hospitals, schools, parks and lakes, etc.
    The data was provided by the <a href="http://aka.ms/usgs" target="_blank">United States Geological Survey (USGS)</a>.
</p>

<a href="~/search.cshtml" class="btn btn-primary btn-lg">Get Started</a>

<p style="margin-top:20px">
    After you’ve explored Azure Search using TryAppService, choose one of the following options to learn more:
</p>
<ul>
    <li>
        <a href="http://aka.ms/azsearchtrial" target="_blank">Sign up</a> to Microsoft Azure today and get $200 to spend on all Azure services
    </li>
    <li>
        If you already have an Azure subscription, click <a href="http://aka.ms/newazuresearch" target="_blank">here</a> to create your own Azure Search service
    </li>
    <li>
        To learn more about Azure Search, please visit the <a href="http://aka.ms/azsearchdocs" target="_blank">MSDN Documentation</a>
    </li>
    <li>
        Try some additional <a href="http://aka.ms/azsearchsamples" target="_blank"> samples and tutorials </a>
    </li>
</ul>
